
.container{
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    height: max-content;
    margin-bottom: 120px;
}

.title{
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 10px;
}

.main_title{
    font-size: 30px;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 10px;
}

.action{
    position: absolute;
    top: 10px;
    right: 10px;
    color: var(--text);
    height: max-content;
    margin-top: 0;
    font-weight: 600;
    font-size: 16px;
}

.services_list{
    margin-top: 10px;
    margin-bottom: 20px;
}

.service{
    padding: 10px 0;
}

.service:last-child{
    border-bottom: none !important;
}
